@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invert {
  filter: invert(1);
}


 .bg-grains-bottom{
  background-image: url('./assets/Stay.png');
 }

 